.logo {
	margin:1%;
	width:40vmin;
	border: none;
}
.main {
	text-align: center;
}

.main span
{
	
	font-size: 2rem;
}

.main ul {
	list-style-type: none;
}
.main ul li{
	margin:12px;
}
.main p{
	margin: 10vmin;
}

@media(min-width:768px) {
	.logo {
		width:30vmin;
	}
		
	.main p{
		margin: 4vmin;
	}
}