.logo {
	margin:1%;
	width:15%;
	height:15%;
}
.main {
	text-align: center;
	font-size: 125%;
}
.main ul {
	list-style-type: none;
}
.main ul li{
	margin:12px;
}
.main p{
	margin:50px;
	font-size: 90%;
}
.realise {
	text-decoration: underline;
	font-weight: bold;
	font-size: 125%;
	white-space: pre;
}