.ligne_option i
{
	font-size: 30vmin;
}

.titreMenu
{
	font-size: 7vmin;
	font-weight: bold;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    
}

.txtMenu
{
	font-size: 4vmin;
	text-align: center;
}

@media (min-width: 768px)
{
	.col-lg-4
	{
		width: 100%;
	}
	.txtMenu
	{
		font-size: 2vmin;
	}
}

@media (min-width: 1500px)
{
	
	.col-lg-4
	{
		width: 50%;
	}
}