.titreMenu
{
	font-size: 12vmin;
	font-weight: bold;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    
}

.txtMenu
{
	text-align: center;
}

.ligne_option i
{
	font-size: 12.5vmin;
	font-size: 1000%;
}

.col-lg-4
{
	width: 100%;
	text-align: center;
}

@media (min-width: 768px)
{
	.titreMenu
	{
		font-size: 2.5vmax;
	}
	.col-lg-4
	{
		width: 50%;
	}
}

@media (min-width: 1050px)
{
	
	.col-lg-4
	{
		width: 20%;
	}
}
