.option
{
	width:100%;
	align: center;
	margin: auto 0;
}

.option_home 
{
	width: 17%;
	margin: 1.5%;
	float: left;
	vertical-align: middle;
	text-align: center;
}

.option_home i
{
	font-size: 12.5vmin;
	font-size: 12.5vmax;
}

.txtMenu
{
	text-align: justify;
	vertical-align: middle;
}

.titreMenu
{
	height: 85px;
	margin: auto;
	font-size: 2.5vmin;
	font-size: 2.5vmax;
	font-weight: bold;
	padding: 0px;
}

/*Footer*************************************************************************************/
.footer {
	min-width: 750px;
	bottom:0;
}