.titreMenu
{
	font-size: 2.5vmin;
	font-size: 2.5vmax;
	font-weight: bold;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    
}

.txtMenu
{
	text-align: center;
	font-size: 140%;
}

.ligne_option i
{
	font-size: 12.5vmin;
	font-size: 1000%;
}

.col-lg-4
{
	width: 100%;
	text-align: center;
}

@media (min-width: 768px)
{
	
	.col-lg-4
{
	width: 50%;
}

@media (min-width: 1000px)
{
	
	.col-lg-4
{
	width: 20%;
}
