.container-login
{
	
}

/*Footer*************************************************************************************/
.footer {
	/*bottom:0;*/
}

.main-container 
{
	align-items: center;
	justify-content: center;
	display: flex;
}