body {
	font-family: 'Lato';
	background: #d3d3d3;
	min-height: 500px;
	min-width: 750px;
	height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*Base*************************************************************************************/

.titre
{
	width: 100%;
}

.titre a:hover, .titre a, .titre a:active
{
	color: white;
	text-decoration: none;
}

.sous-titre
{
	width: 100%;
	font-size: 200%;
	padding: 1% 0;
	font-weight: bold;
}

a
{
	color: #000000;
	font-weight: bold;
}

a:hover, a:active, a.hover, a.active
{
	color: #B30000;
	border-color: #B30000;
	text-decoration: underline;
}
a.focus, a:focus
{
	color: #B30000;
}

hr
{
	border: 1px solid #000000;
}

/*Header*************************************************************************************/

.header i{
	color: white;
}

.header {
	padding: 1% 0;
	width: 100%;
	background-color: #b30000;
	text-align: center;
	color: white;
	position: fixed;
	z-index: 5;
}

.content-header {
	font-size: 200%;
	text-align: center;
}

/*Header des menus*/
.header h3 {
	margin : 0;
	padding: 1% 0 !important;
}

/*Font awesome*************************************************************************************/
.fa-arrow-circle-left{
	font-size: 200%;
	float: right;
	margin-right: 7%;
	padding-top: 8% !important;
	padding-bottom: 8% !important;
}

.fa-arrow-circle-right{
	font-size: 200%;
	float: left;
	margin-left: 7%;
	padding-top: 8% !important;
	padding-bottom: 8% !important;
}

.fa-btn {
	margin-right: 7px;
}

.fa {
	font-size:25px;
}

.btn-menu  i{
	width: 5%;
	vertical-align: middle;
    display: table-cell;
    position: relative;
	top:7px;
}

.btn-menu-left i {
	padding-left: 15px;
	float: left;
}

.btn-menu-right i {
	padding-right: 30px;
	float: right;
	
}

/*Menu*************************************************************************************/
.titreMenuG
{
	padding-top: 3.5%;
	padding-left: 14% !important;
}

.titreMenuD
{
	padding-top: 3.5%;
	padding-right: 14% !important;
}

#menu.side ul.ulGlobal{
	padding-top: 33%;
	padding-left: 7% !important;
}

#menu-left.side ul.ulGlobal{
	padding-top: 33%;
	padding-left: 7% !important;
}

.ulGlobal 
{
	color: #000000;
}

.ulGlobal i:hover
{
	color: #B30000;
	border: 1px solid #B30000;
}

.ulGlobal i 
{
	border: 1px solid #000000;
	border-radius: 4px;
	min-height: 30px;
	min-width: 30px;
	text-align: center;
	margin: 2px;
	margin-right: 6px;
	padding: 2px 1px 1px 1px;
}

.side ul
{
	padding-left: 14%;
	padding-top: 2%;
	list-style-type: none;
}

#menu-left {
	background-color: #D3D3D3;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 17.755em;
	left: -17.755em;
	height: 100%;
	
	border-right: 1px solid #FFFFFF;
	
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;
}

#menu-left.active {
	z-index : 11;
	-webkit-transform: translate(17.755em, 0px);
	-moz-transform: translate(17.755em, 0px);
	-o-transform: translate(17.755em, 0px);
	-ms-transform: translate(17.755em, 0px);
	transform: translate(17.755em, 0px);
}

.main-container.active-left {
	-webkit-transform: translate(17.725em, 0px);
	-moz-transform: translate(17.725em, 0px);
	-o-transform: translate(17.725em, 0px);
	-ms-transform: translate(17.725em, 0px);
	transform: translate(17.725em, 0px);
}

#menu {
	background-color: #d3d3d3;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 17.755em;
	right: -17.755em;
	height: 100%;
	
	border-left: 1px solid #FFFFFF;
		
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;
}

#menu.active {
	z-index : 11;
	-webkit-transform: translate(-17.755em, 0px);
	-moz-transform: translate(-17.755em, 0px);
	-o-transform: translate(-17.755em, 0px);
	-ms-transform: translate(-17.755em, 0px);
	transform: translate(-17.755em, 0px);
}

.imageMenu {
	margin:0 0 2%;
	width:100px;
	height:100px;
}

img
{
	border: 1px solid #000000;
}

.hrMenu
{
	width: 75%;
	margin-left: 7%;
}

/*content*************************************************************************************/
.content {
	width: 100%;
	height:100%;
	background-color: #d3d3d3;
	margin: 0;
}

.gauche
{
	float: left;
	width: 100%;
}

.droite
{
	float: right;
	width: 100%;
}

.main-container {
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;
	margin: 0;
	padding-top: 7% !important;
	/*padding-bottom: 7% !important;*/
	width: 100%;
	height: 100%;
  flex: 1;
}

.main-container.active {
	-webkit-transform: translate(-17.725em, 0px);
	-moz-transform: translate(-17.725em, 0px);
	-o-transform: translate(-17.725em, 0px);
	-ms-transform: translate(-17.725em, 0px);
	transform: translate(-17.725em, 0px);
}

.container
{
	padding: 0;
} 


/*Form*************************************************************************************/
colonne
{
	width: 40%;
	margin: 0 2.5%;
}

.control-label
{
	float: left;
}

.col
{
	display: block;
	float: left;
}

.ligne
{
	width: 100%;
	padding: 0 20%;
	display: inline-block;
}
.form-horizontal .control-label
{
	width: 100%;
	text-align: left;
}

/*Panneau central*************************************************************************************/
.panel-default>.panel-heading
{
	background-color: #D3D3D3;
	border: 0;
	text-align: center;
	font-size:150%;
}

.panel
{
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-default
{
	border: 0;
}

.panel-body
{
	background-color: #D3D3D3;
	border: 0;
}

/*Champs textes*************************************************************************************/
input.form-control,
input.form-control 
{
	border: 1px solid #000000;
}

input.form-control:focus,
input.form-control.focus 
{
	border: 1px solid #000000;
  	box-shadow: 0 1px 1px #000000 inset, 0 0 2px #000000;
}

/*Boutons*************************************************************************************/
.zoneBtnLogin>.butn
{
	min-width: 100%;	
}
.col-md-offset-4
{
	margin-left:0;
}

.butn, input[type="file" i]::-webkit-file-upload-button
{
	background-color: #B30000;
	color: #FFFFFF;
	border: 1px solid black;
	outline:none;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

.butn:hover, input[type="file" i]::-webkit-file-upload-button:hover
{
	background-color: #950000;

}

button.butn:focus,
button.butn.focus
{
	background-color: #670000;
	border: 1px solid #000000;
  	box-shadow: 0 1px 1px #000000 inset, 0 0 2px #000000;
}

.btn-width-25
{
	width: 25%;
}

.btn-width-50
{
	width: 50%;
}

.btn-width-100
{
	width: 100%;
}

input[type="file" i]:focus,
input[type="file" i].focus,
input[type="file" i]:active,
input[type="file" i].active
{
	border: 1px solid #000000;
  	box-shadow: 0 1px 1px #000000 inset, 0 0 1px #000000;
  	border-radius: 4px;
  	outline:none;
}

/*Footer*************************************************************************************/
.footer {
	width: 100%;
	min-height: 38.899px;
    margin-bottom: 0;
	height: 7vh;
	background-color: #b30000;
	position: initial;

}