/* haut */

.haut
{
	text-align: left;
}

.form-inscrit
{
	width: 50%;
	display: inline-block;
}

.scoreCourn
{
	float: right;
	/*margin-bottom: 3vw;*/
	padding: 0 4% 0 0;
}

.block
{
	float: right;
	font-size: 3.5rem;
}

.block th, .block i { 
	padding: 0px;
	text-align: right;
	font-size: 2.5vw;
	display: table-cell;
    vertical-align: inherit;
}


/* milieu */

.milieu
{
	margin-top: 2%;
}

/* Tableau */

.milieu div
{
	width: 50%;
}

/* Parties */

.parties h2
{
	font-size: 2.5vw;
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin: 20px 0 20px 0;
}

.milieu .parties div
{
	float: right;
}

.milieu .parties .precedente, .milieu .parties .suivante, .milieu .parties .butn_vote
{
	width: 75%;
}

.milieu .images, .milieu .bouton
{
	/*width: 305px;*/
	width: 100%;
	
}

.image
{
	padding: 0 0 0 0;
	height: 100%;
}

.image img
{
	border: 5px solid;
	margin: 0 12.5% 0 12.5%;
	width: 75%;    
}

/*.user_courant
{
	color: #FFFFFF;
}

.image .imgWin
{
	border-color: #00a200;
}

.image .imgLose
{
	border-color: #ca0000;
}

.image .imgEven
{
	border-color: #FFFFFF;	
}*/

.milieu .parties .butn_vote button
{
	width: 100%;
	float: right;
}

.parties 
{
	padding: 0 0 0 0;
}

.butn
{
	width: 100%;
}

.butn-vote
{
	width: 49.5%;
	padding: 0 0 0 0;
}

.butn-list
{
	width: 49.5%;
	padding: 0 0 0 0;
}

.butn-inscr-nin
{
	width: 24.75%;
	padding: 0 0 0 0;
}

.butn-list-nin
{
	width: 24.75%;
	padding: 0 0 0 0;
}
	
.liste-pools
{
	width:100%;
}

.deadTitle
{
	color: #ca0000;
	border-color: #ca0000;
	text-align: center;
}

.aliveTitle
{
	color: #00a200;
	border-color: #00a200;
	text-align: center;
}
	
@media screen and (max-width: 767px)
{
	.parties 
	{
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
	
	.parties h2
	{
		font-size: 7vw;
		width: 100%;
		text-align: center;
		text-align: center;
		float: right;
		font-weight: bold;
	}

	.butn
	{
		width: 100%;
	}
	
	.butn-vote
	{
		width: 100%;
		padding: 0 0 0 0;
	}
	
	.butn-inscr-nin
	{
		width: 100%;
		padding: 0 0 0 0;
	}
	
	.butn-list
	{
		width: 100%;
		padding: 0 0 0 0;
	}
	
	.butn-list-nin
	{
		width: 100%;
		padding: 0 0 0 0;
	}
	
	.milieu .table-responsive, .milieu .parties
	{
		width: 100%;
	}
	
	.milieu .parties .precedente, .milieu .parties .suivante, .milieu .parties .butn_vote, .milieu .parties .images, .milieu .parties h2, .milieu .parties .bouton {
	    float: left;
	    width:100%;
	}
	
	.milieu .parties .images, .milieu .parties h2, .milieu .parties .butn_vote {
	    /*margin-left: 5.5vw;*/
	}
	
	.image
	{
		padding: 0 0 0 0;
		height: 100%;
	}
	
	.image img
	{
		border: 5px solid;
		margin: 0 12.5% 0 12.5%;
		width: 75%;    
	}
	
	.scoreCourn
	{
		float: left;
		margin-bottom: 3vw;
		padding: 0 25% 0 25%;
	}
	
	.form-inscrit
	{
		width: 100%;
	}
	
	.block th, .block i { 
		padding: 0px;
		text-align: right;
		font-size: 5vw;
		display: table-cell;
    	vertical-align: inherit;
	}
}