/* haut */

.haut
{
	text-align: left;
}

.form-inscrit
{
	width: 50%;
	display: inline-block;
}

.scoreCourn
{
	float: right;
	margin-bottom: 3vw;
}

.block
{
	float: right;
	font-size: 3.5rem;
}

.block th, .block i { 
	padding: 2px;
	text-align: right;
}


/* milieu */

.milieu
{
	margin-top: 2%;
}

/* Tableau */

.milieu div
{
	width: 50%;
}

.user_courant
{
	color: #FFFFFF;
}

/* Parties */

.parties h2
{
	width: 305px;
	text-align: center;
	float: right;
	font-weight: bold;
}

.milieu .parties div
{
	float: right;
}

.milieu .parties .precedente, .milieu .parties .suivante, .milieu .parties .butn_vote
{
	width: 100%;
}

.milieu .images, .milieu .bouton
{
	width: 305px;
}

.image
{
	width: 150px;
	padding: 0px;
	margin-left: 0 1px;
}

.image img
{
	border: 5px solid;
	width: 150px;
}

.image .imgWin
{
	border-color: #00a200;
}

.image .imgLose
{
	border-color: #ca0000;
}

.image .imgEven
{
	border-color: white;	
}

.milieu .parties .butn_vote button
{
	width: 100%;
	float: right;
}

.butn
{
	width: 100%;
}

.butn-vote
{
	width: 49.5%;
	padding: 0 0 0 0;
}

.butn-list
{
	width: 49.5%;
	padding: 0 0 0 0;
}

.butn-inscr-nin
{
	width: 24.75%;
	padding: 0 0 0 0;
}

.butn-list-nin
{
	width: 24.75%;
	padding: 0 0 0 0;
}
	
	
@media screen and (max-width: 767px)
{
	.butn
	{
		width: 100%;
	}
	
	.butn-vote
	{
		width: 100%;
		padding: 0 0 0 0;
	}
	
	.butn-inscr-nin
	{
		width: 100%;
		padding: 0 0 0 0;
	}
	
	.butn-list
	{
		width: 100%;
		padding: 0 0 0 0;
	}
	
	.butn-list-nin
	{
		width: 100%;
		padding: 0 0 0 0;
	}
	
	.milieu .table-responsive, .milieu .parties
	{
		width: 100%;
	}
	
	.milieu .parties .precedente, .milieu .parties .suivante, .milieu .parties .butn_vote, .milieu .parties .images, .milieu .parties h2, .milieu .parties .bouton {
	    float: left;
	}
	
	.milieu .parties .images, .milieu .parties h2, .milieu .parties .butn_vote {
	    margin-left: 5.5vw;
	}
	
	.scoreCourn
	{
		float: left;
	}
	
	.form-inscrit
	{
		width: 100%;
	}
}