.haut
{
	text-align: left;
}

.form-butn
{
	margin-left: 22.5%;
}

.milieu
{
	margin-top: 2%;
}

.milieu div
{
	width: 50%;
}

.milieu .precedente
{
	width: 100%;
}

.milieu .images
{
	width: 305px;
}

.parties div
{
	float: right;
}

.image
{
	width: 150px;
	padding: 0px;
	margin-left: 0 1px;
}
.image img
{
	border: 5px solid;
	width: 150px;
}

.image .imgWin
{
	border-color: #00a200;
}

.image .imgLose
{
	border-color: #ca0000;
}

.image .imgEven
{
	border-color: white;	
}

.parties h2
{
	width: 305px;
	text-align: center;
	float: right;
}

.titlePool
{
	text-align: center;
}

.user_courant
{
	color: #FFFFFF;
}