.container-profil
{
	width:100%;
	margin: 0;
}

.colonne
{
	width: 40%;
	margin: 0 2.5%;
}

/*Image de profil*************************************************************************************/
.zoneImage
{
	margin: 0 2.5%;
}
.imgContent
{
	padding-left: 0px;
}

.control-label
{
	width:100%;
}

input[type="file" i]
{
	width: 100%;
}

.btnUpload
{
	padding:0px;
}

.form-control
{
	width: 100%;
}

.col-butn
{
	margin-bottom: 15px;
}

@media (min-width: 768px)
{
	.container-profil
	{
		padding: 0 15vmin;
	}
	.form-inline .form-control 
	{
	    width: 100%;
	}
	
	.form-inline .form-group 
	{
	    display: block;
	}
}