.container-profil
{
	width:100%;
	margin: 0;
	padding: 0;
}

.colonne
{
	width: 40%;
	margin: 0 2.5%;
}

.control-label
{
	float: left;
}

.col
{
	display: block;
	float: left;
}

.ligne
{
	width: 100%;
	padding: 0 20%;
	display: inline-block;
}

.image {
	margin:0 0 2%;
	width:150px;
	height:150px;
}

.form-horizontal .control-label
{
	width: 100%;
	text-align: left;
}