.container-profil
{
	width:100%;
	margin: 0;
	padding: 0;
}

.colonne
{
	width: 40%;
	margin: 0 2.5%;
}

/*Image de profil*************************************************************************************/
.zoneImage
{
	margin: 0 2.5%;
}

.image {
	margin:0 0 2% 15px;
	width:165px;
	height:150px;
	padding: 0;
}

input[type="file" i]
{
	width: 100%;
	margin-top: 116px;
}

.btnUpload
{
	height: 150px;
}